name: primer_progress_bar
description: Unoffcial Flutter implementation of the progress bar defined in GitHub Primer Design System.
version: 0.2.1
repository: https://github.com/fujidaiti/primer_progress_bar.git

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1
